<form method="get" action="results/" class="navbar-form pull-right">
<input type="text" name="subreddit" placeHolder="Subreddit"><br>
Posts to search: 
<input type="number" name="postLimit" ><br>
Top Comments to display: 
<input type="number" name="topComs" ><br>
Top Words to display: 
<input type="number" name="topWords" ><br>
Top Users to display: 
<input type="number" name="topUsers" ><br>
Top Replies to display: 
<input type="number" name="ohSnap" ><br>
Oldest Posts to display: 
<input type="number" name="oldestPosts" ><br>

<input type="submit" class="btn" value="Search" >
</form>
