#search_bar {
   font-size: 2em;
   font-family: verdana, arial, helvetica, sans-serif;
   height: 100px;
}

input {
    text-indent: 0.25em;
    height: 1.35em;
/*    font-size: 1em;*/
}

#search_icon {  
    background-color: transparent;
    border: none;
    color: #333333;
    margin-left: -50px;
    top:2px;
}

.glyphicon {
/*    top: 4px !important;*/
    font-size: 0.75em;
}

#search_cog {
    font-size: 1em;
    top: -2px;
    padding: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dropdown-menu {
    margin-left: 2em !important;
}

.open>.dropdown-menu {
    padding: 10px !important;
}

.form {
     border-top: 100px;   
    }
