  <!DOCTYPE html>
<html lang="en">
<head>
  <title>Foundit</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% load staticfiles %}
  <link href="{% static "default.css" %}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Foundit</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Page 1</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
      <div class="col-xs-2 col-md-2" id="ads">$$$ ADS</div>
      <div class="col-xs-8 col-sm-2 col-md-8 text-center jumbotron">
        <h1>Foundit</h1>
        <p>slooooooooogan</p>
          <form action="/results/" class="form text-center" method="get">
    <div class="form-group" id="search_bar">
      <label for="subreddit" id="r">r/</label>
        <input name="subreddit" placeholder="subreddit" type="text"> <span class="form-group-addon">
        <button id="search_icon" type="submit">
            <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
      <div class="btn-group">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" id="search_cog"><span class="glyphicon glyphicon-cog"></span></button>
        <div class="dropdown-menu">
          Posts to search: <input name="postLimit" type="number" value="10"><br>
          Top Comments to display: <input name="topComs" type="number" value="10"><br>
          Top Words to display: <input name="topWords" type="number" value="10"><br>
          Top Users to display: <input name="topUsers" type="number" value="10"><br>
          Top Replies to display: <input name="topReplies" type="number" value="10"><br>
          Oldest Posts to display: <input name="oldestPosts" type="number" value="10"><br>
          Active Posts to display: <input name="activePosts"  type="number" value="10"><br>
        </div>
      </div>
    </div>
</form>
      </div>
      <div class="col-xs-2 col-md-2" id="ads">$$$ ADS</div>
  </div>
    
<!--
<form action="/results/" class="form text-center" method="get">
    <div class="form-group" id="search_bar">
      <label for="subreddit" id="r">r/</label>
        <input name="subreddit" placeholder="subreddit" type="text"> <span class="form-group-addon">
        <button id="search_icon" type="submit">
            <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
      <div class="btn-group">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" id="search_cog"><span class="glyphicon glyphicon-cog"></span></button>
        <div class="dropdown-menu">
          Posts to search: <input name="postLimit" type="number"><br>
          Top Comments to display: <input name="topComs" type="number"><br>
          Top Words to display: <input name="topWords" type="number"><br>
          Top Users to display: <input name="topUsers" type="number"><br>
          Top Replies to display: <input name="topReplies" type="number"><br>
          Oldest Posts to display: <input name="oldestPosts" type="number"><br>
          Active Posts to display: <input name="activePosts"  type="number" ><br>
        </div>
      </div>
    </div>
</form>
-->
</body>
</html>
